*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#E5E1E0 ;
}

.contenido-principal{
    margin: 20px 80px 20px 80px;
    background: white;
    border-radius: 05px 05px 0 0;
    
}
.img-fogrill{ 
    background-image: transparent;
    align-items: center;
    max-height:500px;
    max-width:400px;
}
.nav{
    display: flex;
    justify-content: space-around;
    height: 150px;
    border-bottom: solid 1px;
    border-bottom-color: #E5E1E0;
    box-shadow: 0 0 2 0;
    
}   
.archor-nav{
    display: flex;
    align-items: center;
}
a{
    margin: 15px;
    text-decoration: none;
    color: #4b4b4a;
    font-size: 20px;
}
a:hover{
    margin:0px;
    background-color: gray;
    color: black;
    padding: 15px;
    border-radius: 5px 5px 5px 5px;
}

.main{

    display: flex;
    justify-content:space-between;
    background-color: white;
    margin:30px 10px 10px 10px;
}
.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px 20px 20px 20px;
    max-height: 700px;
    max-width: 750px;
} 

 .slogan p{
    text-align: center;
    
    margin-top: 20px;
    padding: 10px;
}
/*
.slogan h1{
    text-align: center;
} */
.button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{ 
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    border-radius: 10px;
   
}

.button-1{
    background-color: black;
    color: white;
}
.button-2{
    background-color: white;
    border: solid 2.5px;
}
img{
    max-width: 500px;
    margin: 05px 05px 20px 20px;
    border-radius: 10px;
}

.empresa{
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empresa p{
    text-align: center;
    text-transform: initial;
    font-size: 23px;
    width: 700px;
    
}